body {
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    width: 100vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 40px;
    font-weight: bold;
}

.btn {
    background-color: rgb(97, 6, 182);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px, 10px;
}

.answer-buttons {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}